%h1 Listing subitems

%table
  %thead
    %tr
      %th Name
      %th Item
      %th
      %th
      %th

  %tbody
    - @subitems.each do |subitem|
      %tr
        %td= subitem.name
        %td= subitem.item
        %td= link_to 'Show', subitem
        %td= link_to 'Edit', edit_subitem_path(subitem)
        %td= link_to 'Destroy', subitem, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Subitem', new_subitem_path
